<h1>Reset your password?</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |f| %>
  <div class="col-md-5 mb-3">
    <label for="inputPassword">Password</label>
    <%= f.password_field :password, type: "password", class: "form-control form-control-lg", id: 'inputPassword', placeholder: "password", required: true, minlength: 8 %>
    <small id="passwordHelpInline" class="text-muted">
      Must be at least 8 characters long.
    </small><br>
    <label for="inputPassword_repeat">Password confirmation</label>
    <%= f.password_field :password_confirmation, type: "password", class: "form-control form-control-lg", id: 'inputPassword_repeat', placeholder: "password confirmation", required: true, minlength: 8, oninput: "check()" %>
    <script>
        function check() {
            var input = document.getElementById('inputPassword_repeat');
            if (input.value !== document.getElementById('inputPassword').value) {
                input.setCustomValidity('Password must be matching.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }</script>
    <br>
    <%= f.submit 'Reset password' %>
  </div>
<% end %>