<!--<section id="hero" class="hero d-flex  align-items-center">-->
<!--  <div class="container">-->
<!--    <h1>Forgot your password?</h1>-->
<%#= form_with url: password_reset_path, class: "form-check d-flex align-items mb-3 bg-transparent", data_aos: "fade-up", data_aos_delay: "100" do |f| %>
<!--      <div class="form-outline mb-4 bg-light">-->
<%#= f.email_field :email, id: 'form1Example13', class: "form-control form-control-lg", placeholder: "Email address", required: true %>
<!--      </div>-->
<!--      <p>-->
<%#= f.submit 'Reset Password', class: "btn btn-primary mt-1" %>
<!--      </p>-->
<%# end %>
<!--  </div>-->
<!--</section>-->

<!--<section>-->
<!-- Button trigger modal -->
<!--  <input type="submit" class="nav-link px-2" value="Forgot your password?" data-bs-toggle="modal" data-bs-target="#finishPrivateModal">-->

<!--  <div class="modal top fade" id="finishPrivateModal" tabindex="-1" aria-labelledby="finishPrivateModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">-->
<!--    <div class="modal-dialog" style="width: 300px;">-->
<!--      <div class="modal-content text-center">-->
<!--        <div class="modal-header h5 text-white bg-primary justify-content-center">-->
<!--          Password Reset-->
<!--        </div>-->
<!--        <div class="modal-body px-5">-->
<!--          <p class="py-2">-->
<!--            Enter your email address and we'll send you an email with instructions to reset your password.-->
<!--          </p>-->
<!--          <div class="form-outline">-->
<%#= form_with url: password_reset_path, class: "form-check d-flex align-items mb-3 bg-transparent", data_aos: "fade-up", data_aos_delay: "100" do |f| %>
<%#= f.email_field :email, id: 'form1Example13', class: "form-control my-3", placeholder: "Email address", required: true %>
<!--              </div>-->
<%#= f.submit 'Reset Password', class: "btn btn-primary w-100" %>
<%# end %>
<!--            <div class="d-flex justify-content-between mt-4">-->
<!--              <a href="<%#= sign_in_url %>">Login</a>-->
<!--              <a href="<%#= sign_up_url %>">Register</a>-->
<!--            </div>-->
<!--            </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</section>-->


<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">-->
<!--  Modal form-->
<!--</button>-->

<!-- Modal -->
<!--<div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">-->
<!--  <div class="modal-dialog" style="width: 300px;">-->
<!--    <div class="modal-content text-center">-->
<!--      <div class="modal-header h5 text-white bg-primary justify-content-center">-->
<!--        Password Reset-->
<!--      </div>-->
<!--      <div class="modal-body px-5">-->
<!--        <p class="py-2">-->
<!--          Enter your email address and we'll send you an email with instructions to reset your password.-->
<!--        </p>-->
<!--        <div class="form-outline">-->
<!--          <input type="email" id="typeEmail" class="form-control my-3"/>-->
<!--          <label class="form-label" for="typeEmail">Email input</label>-->
<!--        </div>-->
<!--        <a href="#" class="btn btn-primary w-100">Reset password</a>-->
<!--        <div class="d-flex justify-content-between mt-4">-->
<!--          <a class="" href="#">Login</a>-->
<!--          <a class="" href="#">Register</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->