<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>New Application Notification</title>
</head>
<body>
  <p>Hello <%= @recipient.first_name %>,</p>

  <p>You received a new application for <%= @job_title %>.</p>
  <hr>
  <p><%= @applicant.first_name %> applied for <%= @job_title %>.</p>

  <p>Best regards,</p>
</body>
</html>