<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reactivate Your Account</title>
</head>
<body>
  <p>Hi <%= params[:user].first_name %>,</p>

  <p>Someone requested a new activation token. Click on the link below to activate your account if you recognize the activity. The link expires in 24 hours:</p>
  <p><a href="https://api.embloy.com/api/v0/user/activate?token=<%= @token %>">Activate Account</a></p>

  <p>If you did not request this, you can safely ignore this email.</p>

  <p>Best,</p>

  <p>The Embloy Team</p>
</body>
</html>