<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to Embloy</title>
</head>
<body>
  <p>Hi <%= params[:user].first_name %>,</p>

  <p>You have successfully signed up to Embloy!</p>
  <p>Your user email is: <%= @user.email %>.</p>

  <p>Click on the link below to activate your account. The link expires in 24 hours:</p>
  <p><a href="https://api.embloy.com/api/v0/user/activate?token=<%= @token %>">Activate Account</a></p>

  <p>If your activation link expires, you can request a new one by visiting the following URL:</p>
  <p><a href="https://embloy.com/activation-token">https://embloy.com/activation-token</a></p>

  <p>Best,</p>

  <p>The Embloy Team</p>
</body>
</html>