<h3>Your payment was declined</h3>
<p>We were unable to charge your payment method for your <%= Pay.application_name %> subscription. Please update your billing information.</p>
<p><%= link_to "Update billing information", "https://embloy.com/dashboard/billing" %></p>
<p>Please write to help@embloy.com if you have any questions.</p>
<p>— The Embloy Team</p>
