<h3>Your <%= Pay.application_name %> trial is ending soon</h3>
<p>This is just a friendly reminder that your <%= link_to Pay.application_name, "https://embloy.com/dashboard/billing" %> trial will be ending soon.</p>
<p>You may <%= link_to "manage your subscription", "https://embloy.com/dashboard/billing" %> via your account. If you have any questions, please write to help@embloy.com and let us know.</p>
<p>— The Embloy Team</p>
