<%= stylesheet_link_tag "style" %>
<h1>
  <%= link_to @job.title, job_path(@job) %>
</h1>
<h2><%= @job.description %></h2>

<h2> Submitted applications:</h2>
<%#= render @job.applications %>
<h2><%= link_to "go back", _back_url %></h2>
