<section id="hero" class="hero d-flex  align-items-center text-black">
  <div class="container">
    <%= stylesheet_link_tag "style" %>
    <h1>New Job</h1>
    <%= render "form", job: @job %>
  </div>
</section>
