<div class="container bg-light">
  <body class="bg-light mt-5">
  <section class="bg-light">
    <div class="container bg-light">
      <div class="row d-flex justify-content-center align-items-center bg-light">
        <div class="col-lg-12 col-xl-11">
          <div class="card-body p-md-6 bg-light">
            <%= render "form", user: @user %>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>
</div>



