<h1 class="display-4">
  Privacy Policy
</h1>
<h6>
  This Privacy Policy ("Policy") sets out how we collect, use, and disclose personal information about you when you use
  our website (the "Website").
</h6>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          1. Who We Are
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        We are a Embloy, open-source project that operates the Website. Our contact
        details are as follows:
        <ul>
          <li><a href="mailto:<%= ENV["EMAIL_INFO_USER"] %>"><%= ENV["EMAIL_INFO_USER"] %></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2. Personal Information We Collect
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        We may collect personal information about you when you use our Website. Personal information means any
        information that can be used to identify you. The personal information we may collect includes:
        <ul>
          <li> Name, email address, postal address, telephone number, date of birth, education and employment history,
            and other information that you provide to us through the Website or via email.
          <li>Information about your use of the Website, including your IP address, browser type, operating system,
            referral
            source, length of visit, page views, and website navigation paths.
        </ul>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3. How We Use Your Personal Information
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        We use your personal information for the following purposes:
        <ul>
          <li> To provide our services to you, including facilitating your search for job opportunities and
            communicating with you regarding your job search.
          <li>To manage our relationship with you, including answering your queries or requests, and notifying you about
            changes to our services or policies.
          <li> To monitor and improve the functionality and performance of the Website.
          <li>To comply with legal and regulatory requirements.
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          4. Legal Basis for Processing Your Personal Information
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        Our processing of your personal information is based on one or more of the following legal grounds:
        <ul>
          <li> You have given us consent to process your personal information for a specific purpose.
          <li>The processing is necessary for the performance of a contract between you and us, or for taking steps at
            your request before entering into a contract.
          <li> The processing is necessary for our legitimate interests, provided that such interests do not override
            your fundamental rights and freedoms.
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          5. Disclosure of Your Personal Information
        </button>
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
        We may disclose your personal information to the following third parties:
        <ul>
          <li> Prospective employers who may have job opportunities that match your qualifications.
          <li>Third-party service providers who assist us with the operation of the Website or the provision of our
            services, such as IT services providers, email marketing services, and customer relationship management
            software providers.
          <li> Law enforcement or other government agencies when we are required to do so by law or in response to a
            valid request by a governmental authority.
        </ul>
        We do not sell, trade, or otherwise transfer your personal information to outside parties for marketing
        purposes.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          6. International Transfers of Your Personal Information
        </button>
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
        Your personal information may be transferred to, and processed in, countries other than the country in which you
        are resident. These countries may have data protection laws that are different from the laws of your country.

        We will ensure that any such international transfers are made subject to appropriate safeguards, such as
        standard contractual clauses or other measures recognized by the GDPR as providing an adequate level of
        protection.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          7. Your Rights
        </button>
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
        Under the GDPR, you have certain rights regarding your personal information, including:
        <ul>
          <li> Right of access: You have the right to obtain confirmation that we are processing your personal
            information and to request a copy of the personal information we hold about you.
          <li>Right of rectification: You have the right to request that we correct or update any inaccurate or
            incomplete personal information we hold about you.
          <li> Right of erasure: You have the right to request that we delete your personal information in certain
            circumstances, such as when the personal information is no longer necessary in relation to the purposes for
            which it was collected, or when you withdraw.
          <li> Right of objection: You have the right to object to the processing of your personal information where we
            are relying on a legitimate interest (or those of a third party) and there is something about your
            particular situation that makes you want to object to processing on this ground. You also have the right to
            object where we are processing your personal information for direct marketing purposes.
          <li>Right of restriction: You have the right to request that we restrict the processing of your personal
            information in certain circumstances, such as when you contest the accuracy of the personal information we
            hold about you, or when you object to our processing of your personal information on the basis of our
            legitimate interests.
          <li> Right of data portability: You have the right to receive the personal information we hold about you in a
            structured, commonly used and machine-readable format, and to transmit that information to another
            controller where technically feasible.
          <li>Right to withdraw consent: If we are processing your personal information based on your consent, you have
            the right to withdraw your consent at any time. This will not affect the lawfulness of processing based on
            consent before its withdrawal.
        </ul>
        To exercise any of these rights, please contact us using the details provided in section 1.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          8. Data Retention
        </button>
      </h2>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
      <div class="card-body">
        We will retain your personal information for as long as necessary to fulfill the purposes for which it was
        collected, including for the purposes of satisfying any legal, accounting, or reporting requirements. To
        determine the appropriate retention period for personal information, we consider the amount, nature, and
        sensitivity of the personal information, the potential risk of harm from unauthorized use or disclosure of your
        personal information, the purposes for which we process your personal information, and whether we can achieve
        those purposes through other means.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingNine">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          9. Security
        </button>
      </h2>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
      <div class="card-body">
        We take reasonable technical and organizational measures to protect the personal information we hold from
        unauthorized access, use, disclosure, alteration, or destruction. However, no method of transmission over the
        internet or electronic storage is completely secure, so we cannot guarantee absolute security.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTen">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
          10. Changes to This Policy
        </button>
      </h2>
    </div>
    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
      <div class="card-body">
        We may update this Policy from time to time to reflect changes in our practices or legal requirements. We will
        provide notice of any material updates by posting the new Policy on the Website or by other means as required by
        law.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEleven">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
          11. Contact Us
        </button>
      </h2>
    </div>
    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
      <div class="card-body">
        If you have any questions or concerns about this Policy or our practices regarding your personal information,
        please contact us at <a href="mailto:<%= ENV["EMAIL_INFO_USER"] %>"><%= ENV["EMAIL_INFO_USER"] %></a>.
      </div>
    </div>
  </div>

</div>
<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
