<%= stylesheet_link_tag "style" %>
<h1>Sign up</h1>

<%= render "registrations/form", user: @user %>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>
