<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Password Change Notification</title>
  </head>
  <body>
    <p>Hi <%= @user.first_name %>,</p>

    <p>We wanted to let you know that your password was successfully changed. If you did not make this change, please contact our support team immediately.</p>

    <p>If you have any questions or need further assistance, please feel free to reach out to us.</p>

    <p>Best,<br>
    The Embloy Team</p>

    <br>
    <p><em>This is an automated message, please do not reply to this email.</em></p>
  </body>
</html>
