<!DOCTYPE html>
<html>

<head>
  <%= render partial: "layouts/header" %>
</head>

<body>
<!--<div class="container bg-light">-->
<%= render partial: "layouts/flash" %>
<%= yield %>
<%= render partial: "layouts/footer" %>
</body>
</html>
